body {
  font-family: Arial;
  margin: 0;
  background:whitesmoke;
}

.nav {
  background: rgb(240, 245, 240);
  color: orangered;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.nav a {
  color: black;
  margin-left: 15px;
  text-decoration: none;
}

.container {
  padding: 20px;
  justify-content: center;
}

.meal-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  color: purple;
}

.meal-card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.meal-card img {
  width: 100%;
  border-radius: 10px;
}

.details img {
  width: 300px;
  border-radius: 10px;
}

.about-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.5s ease-in-out;
}

.about-title {
  font-size: 32px;
  font-weight: 700;
  color: orangered; 
  margin-bottom: 15px;
  text-align: center;
}

.about-text {
  font-size: 18px;
  line-height: 1.7;
  color: #444;
  margin-bottom: 30px;
  text-align: center;
}
.Card {
  max-width: 1300px;
  margin: 40px auto;
  padding: 30px;
    background: linear-gradient(135deg,orangered,green);
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.5s ease-in-out;
}

.Card-title {
  font-size: 62px;
  font-weight: 700;
  color: white;
  margin-bottom: 15px;
  text-align: center;
}

.Card-text {
  font-size: 20px;
  line-height: 1.8;
  color:white;
  margin-bottom: 30px;
  text-align: center;
  font-style: poppins;
}